<!-- Footer -->
<footer class="page-footer font-small blue pt-4 footercontainer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">
<div class="row">
    <div class="col-md-1">
      </div>
      <div class="col-md-1">
    <img src="assets/images/MIA.png">
    </div>
    <div class="col-md-10">
      </div>
</div>
      <!-- Grid row -->
    <div class="row">
        <div class="col-md-1">
          </div>
        <!-- Grid column -->
        <div class="col-md-2">
            <ul class="list-unstyled footer-links">
              <li>
                <a href="#!">About</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                <a href="#!">Advertise</a>
              </li>
              <li>
                <a href="#!">Mobile</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <ul class="list-unstyled footer-links">
              <li>
                <a href="#!">Talent Solution</a>
              </li>
              <li>
                <a href="#!">Marketing Solution</a>
              </li>
              <li>
                <a href="#!">Sales Solution</a>
              </li>
              <li>
                <a href="#!">Small Solution</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          
          <!-- Grid column -->
          <div class="col-md-2">
            <ul class="list-unstyled footer-links">
              <li>
                <a href="#!">Community Guidliness</a>
              </li>
              <li>
                <a href="#!">Privacy & Terms</a>
              </li>
              <li>
                <a href="#!">Send Feedback</a>
              </li>
              <li>
                <a href="#!">Safety Center</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->
           <!-- Grid column -->
           <div class="col-md-2">
              <div>
                <h2>Questions?</h2>
                <p>Visit Our Help Center</p>
              </div> 
              <div>
                  <h2>Manage your account & privacy</h2>
                  <p>Go to your settings</p>
              </div> 
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-2">
            <span>Select Language</span>
          </div>
          <div class="col-md-1">
            </div>
          <!-- Grid column -->

    </div>
    <!-- Grid row -->
   
  </div>
  <!-- Footer Links -->
  
</footer>
<!-- Footer -->
<div class="bottomline">
<br/>

</div>