.bannerdiv{
    border: 0px solid red;
    height: 445px;
    background: url('../../assets/images/dummybanner.jpg');
}
.bannerdiv h2{
    text-align: center;
    font-size: 30pt;
    font-family: MS Mincho;
    color: #fff;
    font-weight: bold;
}
.imagescon{
    height: 190px;
    text-align: center;
    margin-top: 25px;
}

.captionname{
    font-size: 20px;
    font-weight: normal;
}
.companies{
    margin-top: 20px;
}