<!--The content below is only a placeholder and can be replaced.-->
<div class="container ">
	<app-headercomp> </app-headercomp>
	<router-outlet></router-outlet>
	<!--<app-home-component ></app-home-component>-->
	<app-companies></app-companies>
	<app-footer></app-footer>

</div>	
	<!-- <div class="container">
	<div class="innerdiv">
		<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
			<div formGroupName="personalData" novalidate>
				<label> First Name </label>
				  <input formControlName="firstName">
				<br/>  
				<label for="lastName">Last Name:</label>
				  <input formControlName="lastName">
				<br/>  
				<label for="email">Email:</label>
				  <input formControlName="email">
				<br/>  
				<label for="mobileNumber">Phone Number:</label>
				  <input formControlName="mobileNumber">
				<br/>	
				<label for="status">Status:</label>
				  <input formControlName="status">
				<br/>
				<input type="file" formControlName="filexyz" (change)="onFileChanged($event)" >
				<br/>		 
			</div>		
			<button type="submit" [disabled]="contactForm.pristine">Save</button>				  
		</form>
	</div>
</div> -->


