body{
	margin : 0 auto;
	max-width: 1200px;

}
.container{
	border : 0px solid red;
	text-align: center;
	margin : 0 auto;
}
.innerdiv{
	width: 50%;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    float: none;
    margin: 0 auto;
    background: #f3f3f3;
}
input{
	border: 1px solid #888;
    padding: 5px 10px;
    margin: 7px auto;
    display: inline-block;
	width: 30%;
}

label{
	text-align: right;
	width: 20%;
	float: left;
}


