<html>
  <header> 
    <div class="headlog">
        <div class="divimag"><img src="assets/images/MIA.png"></div>
        <div class="menu">
            <a href="#"><img src="assets/images/1.png"></a> 
            <a href="#"><img src="assets/images/message.png"></a> 
            <a href="#"><img src="assets/images/notification.png"></a> 
            <a href="#"><img src="assets/images/comme.png"></a>
            <a href="#"><img src="assets/images/jobs.png"></a>
            <a href="#"><img src="assets/images/share.png"></a>
        </div>
    </div> 
   </header> 
  <body>
  
   <div class="member">
      <div class="signup">
          <a  routerLink="/login"> Login/Signup </a>
        </div>
      <div class="memberme">        
      </div>
    </div>
   
  </body>
</html>